// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* General */
// $fontSize: 0.9rem;
$borderRadius: 12px;
$transitionDuration:.2s;

html {
  background-color: var(--surface-100);
  font-size: 0.9rem; transform: rotate(0.04deg);
  font-family: 'Nanum Gothic', sans-serif;

  body {
    margin: 0px; padding: 0px;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
  }
}

