@import "./_variables";
@import "./sass/_layout";
@import "./_overrides";


/** carousel */
.carousel-container .carousel-item .carousel-item-content {
  border: 1px solid var(--surface-d); border-radius: 3px;
  margin: .3rem; padding: 2rem 0;
  text-align: center;
}

.carousel-demo .carousel-item .carousel-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


/** form card center */
.form-vertical-align-center {
  min-height: 100vh;
}

/** image to link */
.image-link:hover {
  cursor: pointer;
}

/** sidebar font */
.sidebar-font {
  a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
    transform: rotate(0.04deg);
    font-family: 'Noto Sans KR', sans-serif;

    i {
      font-size: 1.2rem;
    }
  }

  a:hover {
    color: #7349BD;
    cursor: pointer;
  }
}

/** DataTableDemo.css */
.datatable-doc-demo .p-paginator .p-paginator-current {
  margin-left: auto;
}
.datatable-doc-demo .p-progressbar {
  height: 0.5rem;
  background-color: #d8dadc;
}
.datatable-doc-demo .p-progressbar .p-progressbar-value {
  background-color: #607d8b;
}
.datatable-doc-demo .p-datepicker {
  min-width: 25rem;
}
.datatable-doc-demo .p-datepicker td {
  font-weight: 400;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-header {
  padding: 1rem;
  text-align: left;
  font-size: 1.5rem;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-paginator {
  padding: 1rem;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
  text-align: left;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
  text-transform: uppercase;
}

/** DialogDemo.css */
.dialog-demo .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}
.dialog-demo p {
  margin: 0;
  line-height: 1.5;
}
.dialog-demo .p-dialog .p-button {
  min-width: 6rem;
}

/** pc-layout-width */
.content-width-padding {
  padding-left: 20%;
  padding-right: 20%;
}  
@media (max-width: 991px) {
  .content-width-padding {
    padding-left: 0px;
    padding-right: 0px;  
  }
}

/** image-align */
.image-align {
  &-center { 
    display: block; 
    margin: auto;
  }

  &-start { 
    display: block; 
    margin-left: 0px; margin-right: auto;
    margin-top: auto; margin-bottom: auto;
  } 

  &-end {
    display: block; 
    margin-left: auto; margin-right: 0px;
    margin-top: auto; margin-bottom: auto;
  }   
}

/** DataViewDemo.css */
.dataview-demo .p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.dataview-demo .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.dataview-demo .product-description {
  margin: 0 0 1rem 0;
}

.dataview-demo .product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.dataview-demo .product-category {
  font-weight: 600;
  vertical-align: middle;
}

.dataview-demo .product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.dataview-demo .product-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.dataview-demo .product-list-item .product-list-detail {
  flex: 1 1 0;
}

.dataview-demo .product-list-item .p-rating {
  margin: 0 0 .5rem 0;
}

.dataview-demo .product-list-item .product-price {
  font-size: 1.0rem;
  font-weight: 100;
  margin-bottom: .5rem;
  align-self: flex-end;
}

.dataview-demo .product-list-item .product-list-action {
  display: flex;
  flex-direction: column;
}

.dataview-demo .product-list-item .p-button {
  margin-bottom: .5rem;
}

.dataview-demo .product-grid-item {
  margin: .5em;
  border: 1px solid var(--surface-border);
  padding: 2rem;
}

.dataview-demo .product-grid-item .product-grid-item-top,
  .dataview-demo .product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dataview-demo .product-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}

.dataview-demo .product-grid-item .product-grid-item-content {
  text-align: center;
}

.dataview-demo .product-grid-item .product-price {
  font-size: 1.0rem;
  font-weight: 100;
}

@media screen and (max-width: 576px) {
  .dataview-demo .product-list-item {
      flex-direction: column;
      align-items: center;
  }

  .dataview-demo .product-list-item img {
      width: 75%;
      margin: 2rem 0;
  }

  .dataview-demo .product-list-item .product-list-detail {
      text-align: center;
  }

  .dataview-demo .product-list-item .product-price {
      align-self: center;
  }

  .dataview-demo .product-list-item .product-list-action {
      display: flex;
      flex-direction: column;
  }

  .dataview-demo .product-list-item .product-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
}